@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono"),
    url("./fonts/JetBrainsMono.ttf") format("truetype");
  font-weight: normal;
}


body {
  margin: 0;
  font-family: JetBrainsMono, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
}

.forms {
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(./pokeball.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .25;
}

header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgb(179, 179, 179);
  display: flex;
  align-items: center;
  background-color: rgb(255, 168, 168);
  
}

@media (max-width: 400px) {
  header {
    justify-content: center;
  }
}

footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.icon {
  height: 37px;
  width: auto;
  margin-left: 25px;
}

.site-header {
  font-size: 2.4rem;
  font-weight: light;
  margin-left: 8px;
  color:rgb(0, 0, 0)
}
.pokedex {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(225px, 1fr) );
  gap: 20px;
}

.pokecard {
  border: 1px solid rgb(204, 203, 203);
  position: relative;
  background-color: white;
  border-radius: 10px;
  transition: transform .2s;
  box-shadow: 2px 2px 8px grey;

}
.pokecard:hover {
  transform: translateY(-8px);
}

.Avatar {
  /*background-color: beige;*/
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: auto;
}

.Name {
  font-size: 1.8rem;
  margin: 10px
}

.Type {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  float: right;
  padding: 4px;
  color: white;
  border-radius: 3px;
  font-size: .9rem;
}
.Title {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(112, 112, 112);
  margin: 5px;
  margin-left: 10px;
}

.background-color-normal {
  background-color: rgb(168, 168, 120);
}
.background-color-fire {
  background-color: rgb(240, 128, 48);
}
.background-color-water {
  background-color: rgb(104, 144, 240);
}
.background-color-grass {
  background-color: rgb(120, 200, 80);
}
.background-color-electric {
  background-color: rgb(248, 208, 48);
}
.background-color-ice {
  background-color: rgb(152, 216, 216);
}
.background-color-fighting {
  background-color: rgb(192, 48, 40);
}
.background-color-poison {
  background-color: rgb(160, 64, 160);
}
.background-color-ground {
  background-color: rgb(224, 192, 104);
}
.background-color-flying {
  background-color: rgb(168, 144, 240);
}
.background-color-psychic {
  background-color: rgb(248, 88, 136);
}
.background-color-bug {
  background-color: rgb(168, 184, 32);
}
.background-color-rock {
  background-color: rgb(184, 160, 56);
}
.background-color-ghost {
  background-color: rgb(112, 88, 152);
}
.background-color-dark {
  background-color: rgb(112, 88, 72);
}
.background-color-dragon {
  background-color: rgb(112, 56, 248);
}
.background-color-steel {
  background-color: rgb(184, 184, 208);
}
.background-color-fairy {
  background-color: rgb(240, 182, 188);
}